body, #root, #root > .grid {
    height: 100%;
    background: #121212
}

#root > .segment {
    padding: 0 0 25px 0;
    background: #1d1d1d;
    position: fixed;
    width: 100%;
    border-radius: 0%;
}